.tabs{
    display: flex;
    gap: 4px;
}
.tabs div{
    border: 1px solid #000;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
}
.tabs div.on{
    background-color: blue;
    color: #fff;
}
.tab-contents>div{
    display: none;
}
.tab-contents>div.on{
    display: block;
}