html{
    font-family: 'Pretendard';
    font-size: 20px;
}
main{
    background: url(../img/BACKGROUND.png) no-repeat 50% 721px;
}
.point-type{font-family: "Aboreto", system-ui;}
.banner{
    background: url(../img/img1.png) no-repeat 50% 50% / cover;
    height: 599px;
    border-radius: 0 0 150px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.banner h1{
    font-size: 50px;
    color: white;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
}
.container{
    width: 1600px;
    margin: 0 auto;
}
.con1{
    padding-top: 10rem;
    background: url(../img/deco.svg) no-repeat 50% 0;
    text-align: center;
    margin-bottom: 5rem;
}
.con1 h2{
    font-size: 150px;
    line-height: 90%;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.con1 p{
    line-height: 140%;
    text-transform: uppercase;
}
span{
    color: #770000;
}
.cafe-figure{
    display: flex;
    gap: 1rem;
    margin-bottom: 2.5rem;
    max-width: 100%;
}
.cafe-figure figure{
    flex: 1;
    line-height: 0;
}
.cafe-figure figure img{
    width: 100%;
    aspect-ratio: 790/434;
    object-fit: cover;
    border-radius: 20px;
}
.con2 h3{
    font-size: 2rem;
    line-height: 140%;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.con2 p{
    font-size: 1rem;
    line-height: 140%;
}
.con2 h3+p{
    margin-bottom: 0.5rem;
}



@media(max-width:1640px){
    .container{
        margin: 0 2rem;
        width: auto;
    }
}
@media(max-width:1024px){
    html{
        font-size: 18px;
    }
    .con1 h2{
        font-size: 80px;
    }
    .cafe-figure figure img{
        aspect-ratio: 467/434;
    }
}
@media(max-width:768px){
    html{
        font-size: 14px;
    }
    .con1 h2{
        font-size: 50px;
    }
    .banner{
        border-radius: 0 0 80px 80px;
    }
    .cafe-figure{
        flex-direction: column;
    }
    .cafe-figure figure img{
        aspect-ratio: 365/200;
    }
    .container{
        margin: 0 1rem;
    }
    .con1 {
    background: url(../img/deco.svg) no-repeat 50% -30px;
    }
}
@media(max-width:340px){
    .con1 h2 {
    font-size: 44px;
}
}